<expn-logo></expn-logo>
<expn-logo href="http://bbc.co.uk"></expn-logo>

<span>This is a span in the page. It should not be the same colour as the spans in the component</span>
<expn-score-dial value="354" band="Good"></expn-score-dial>
<button class="js-score-update" data-operation="increase" type="button">Increase</button>
<button class="js-score-update" data-operation="decrease" type="button">Decrease</button>

<expn-modal></expn-modal>
<button class="js-modal-control" data-operation="open" type="button">Open modal</button>